<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PCAConfiguration" type="FaceRecognition.Infrastructure.PCAConfigurationSection, FaceRecognition.Infrastructure" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <PCAConfiguration directory="PregeneratedData" />
</configuration>