<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PythonConfiguration" type="FaceRecognition.Infrastructure.PythonConfigurationSection, FaceRecognition.Infrastructure" allowLocation="true" allowDefinition="Everywhere" />
    <section name="PCAConfiguration" type="FaceRecognition.Infrastructure.PCAConfigurationSection, FaceRecognition.Infrastructure" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <PythonConfiguration exePath="" />
  <PCAConfiguration directory="" />
</configuration>