*.DotSettings
*.suo
*.user
.idea/
.vs/
.backup/
obj
bin
packages
/FaceRecognition.PythonScripts/*.DotSettings
/FaceRecognition/*.DotSettings
/WebApi/*.DotSettings
/PythonScripts/*.DotSettings
*.jpg
*.npy
*.pyc
