<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="pythonConfiguration" type="FaceRecognition.Infrastructure.PythonConfigurationSection, FaceRecognition.Infrastructure" allowLocation="true" allowDefinition="Everywhere" />
    <section name="pCAConfiguration" type="FaceRecognition.Infrastructure.PCAConfigurationSection, FaceRecognition.Infrastructure" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <pythonConfiguration exePath="C:\Users\dlyange\AppData\Local\Continuum\Anaconda3\python.exe"/>
  <pCAConfiguration directory="testDir"/>
</configuration>
