<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../../Scripts/main.js"></script>
<link rel="stylesheet" type="text/css" href="../../Styles/main.css">
<div class='toolbar js-toolbar'>
    <button class="button" onclick="trainFirst()">Train by first algorithm</button>
    <button class="button" onclick="trainSecond()">Train by second algorithm</button>
    <button class="button" onclick="trainThird()">Train by third algorithm</button>
    <button class="button" onclick="createGraph()">createGraph</button>
</div>
<div class='main-body js-main-body' id='cardContainer'>
    <form class='card-container js-card' id='prototypeCard' style="display: none;">
        <div class="card-header">Some training data</div>
        <div class='card-body-container'>
            <div class="card-input_title">Ошибки первого рода:</div>
            <input class="card-input" type="text" name="fce" readonly><br>
            <div class="card-input_title">Ошибки второго рода:</div>
            <input class="card-input" type="text" name="sce" readonly><br>
            <div class="card-input_title">Скорость обучения:</div>
            <input class="card-input" type="text" name="speed" readonly><br>
            <div class="card-input_title">Скорость предсказания:</div>
            <input class="card-input" type="text" name="accuracy" readonly><br>
        </div>
    </form>
</div>

<div class='tableTamplate js-tableTemplate-container' id='tableTamplate' style="display: none;">
        <div class="table-header">Some training data</div>
        <div class='table-body'>
            <div class="empty-grid-cell grid-cell">empty</div>
            <div class="trueCondition-grid-cell grid-cell">trueCondition</div>
            <div class="inSystem-grid-cell grid-cell">inSystem</div>
            <div class="notInSystem-grid-cell grid-cell">notInSystem</div>
            <div class="hasAccess-grid-cell grid-cell">hasAccess</div>
            <div class="noAccess-grid-cell grid-cell">noAccess</div>
            <div class="predictedCondition-grid-cell grid-cell">predictedCondition</div>
            <div class="inSystemHoriz-grid-cell grid-cell">inSystemHoriz</div>
            <div class="notInSystemHoriz-grid-cell grid-cell">notInSystemHoriz</div>
            <div class="hasAccessHoriz-grid-cell grid-cell">hasAccessHoriz</div>
            <div class="noAccessHoriz-grid-cell grid-cell">noAccessHoriz</div>
            <div class="cell1-grid-cell grid-cell">cell1</div>
            <div class="cell2-grid-cell grid-cell">cell2</div>
            <div class="cell3-grid-cell grid-cell">cell3</div>
            <div class="cell4-grid-cell grid-cell">cell4</div>
            <div class="cell5-grid-cell grid-cell">cell5</div>
            <div class="cell6-grid-cell grid-cell">cell6</div>
            <div class="cell7-grid-cell grid-cell">cell7</div>
            <div class="cell8-grid-cell grid-cell">cell8</div>
            <div class="cell9-grid-cell grid-cell">cell9</div>
            <div class="cell10-grid-cell grid-cell">cell10</div>
            <div class="cell11-grid-cell grid-cell">cell11</div>
        </div>
</div>


<svg width="960" height="500"></svg>

