<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../../Scripts/main.js"></script>
<link rel="stylesheet" type="text/css" href="../../Styles/main.css">
<div class='toolbar js-toolbar'>
    <button class="button" onclick="trainFirst()">Train by first algorithm</button>
    <button class="button" onclick="trainSecond()">Train by second algorithm</button>
    <button class="button" onclick="trainThird()">Train by third algorithm</button>
    <button class="button" onclick="createGraph()">createGraph</button>
</div>
<div class='main-body js-main-body' id='cardContainer'>
    <form class='card-container js-card' id='prototypeCard'>
        <div class="card-header">Some training data</div>
        <div class='card-body-container'>
            Ошибки первого рода:<br>
            <input class="card-input" type="text" name="firstname" readonly><br>
            Ошибки второго рода:<br>
            <input class="card-input" type="text" name="lastname" readonly><br>
            Скорость обучения:<br>
            <input class="card-input" type="text" name="lastname" readonly><br>
            Скорость предсказания:<br>
            <input class="card-input" type="text" name="lastname" readonly><br>
        </div>
    </form>
</div>
<svg width="960" height="500"></svg>

