<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../../Scripts/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/britecharts@2/dist/bundled/britecharts.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../Styles/main.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/britecharts/dist/css/britecharts.min.css">
<div class='toolbar js-toolbar'>
    <div>
        <input type="file" onchange="setFileState(this.files)">
        <button class="button" onclick="runCnn()">Run CNN algorithm</button>
    </div>
    <div>
        <input type="file" onchange="setFileState(this.files)">
        <button class="button" onclick="runObr()">Run OpenBR algorithm</button>
    </div>
    <div>
        <button class="button" onclick="trainThird()">Get algorithms comparison grapth</button>
        <input list="metricsSelection" onchange="setMetricsState(this.value)">
            <datalist id="metricsSelection">
                <option value="Accuracy">
                <option value="Precision">
                <option value="Recall">
                <option value="FallOut">
                <option value="MissRate">
            </datalist>
    </div>
    <button class="button" onclick="trainSecond()">Train by third algorithm</button>
    @*<button class="button" onclick="createGraph()">createGraph</button>*@
</div>
<div class='main-body js-main-body' id='cardContainer'>
    <div class='imageContainer' id='imageContainer'></div>

    <form class='card-container js-card' id='prototypeCard' style="display: none;">
        <div class="card-header">Some training data</div>
        <div class='card-body-container'>
            <div class="card-input_title">Ошибки первого рода:</div>
            <input class="card-input" type="text" name="fce" readonly><br>
            <div class="card-input_title">Ошибки второго рода:</div>
            <input class="card-input" type="text" name="sce" readonly><br>
            <div class="card-input_title">Скорость обучения:</div>
            <input class="card-input" type="text" name="speed" readonly><br>
            <div class="card-input_title">Скорость предсказания:</div>
            <input class="card-input" type="text" name="accuracy" readonly><br>
        </div>
    </form>
</div>

<div class='tableTamplate js-tableTemplate-container' id='tableTamplate' style="display: none;">
        <div class='table-body'>
            <div class="empty-grid-cell grid-cell">Confusion matrix</div>
            <div class="trueCondition-grid-cell grid-cell">True condition</div>
            <div class="inSystem-grid-cell grid-cell">Registered in system</div>
            <div class="notInSystem-grid-cell grid-cell">Not registered in system</div>
            <div class="hasAccess-grid-cell grid-cell">Has access</div>
            <div class="noAccess-grid-cell grid-cell">Has no access</div>
            <div class="hasAccessSelf-grid-cell grid-cell">Correctly identified</div>
            <div class="hasAccessNotSelf-grid-cell grid-cell">Identified as someone else from the same category</div>
            <div class="noAccessSelf-grid-cell grid-cell">Correctly identified</div>
            <div class="noAccessNotSelf-grid-cell grid-cell">Identified as someone else from the same category</div>
            <div class="predictedCondition-grid-cell grid-cell">Predicted condition</div>
            <div class="inSystemHoriz-grid-cell grid-cell">Registered in system</div>
            <div class="notInSystemHoriz-grid-cell grid-cell">Not registered in system</div>
            <div class="hasAccessHoriz-grid-cell grid-cell">Has Access</div>
            <div class="noAccessHoriz-grid-cell grid-cell">Has no access</div>
            <div class="cell1-grid-cell grid-cell">cell1</div>
            <div class="cell2-grid-cell grid-cell">cell2</div>
            <div class="cell3-grid-cell grid-cell">cell3</div>
            <div class="cell4-grid-cell grid-cell">cell4</div>
            <div class="cell5-grid-cell grid-cell">cell5</div>
            <div class="cell6-grid-cell grid-cell">cell6</div>
            <div class="cell7-grid-cell grid-cell">cell7</div>
            <div class="cell8-grid-cell grid-cell">cell8</div>
            <div class="cell9-grid-cell grid-cell">cell9</div>
            <div class="cell10-grid-cell grid-cell">cell10</div>
            <div class="cell11-grid-cell grid-cell">cell11</div>
        </div>
</div>


<div class='tableTamplate js-tableTemplate-container' id='tableTamplateNew' style="display: none;">
    <div class='table-body-new'>
        <div class="empty-grid-cell-new grid-cell"></div>
        <div class="binary-grid-cell-new grid-cell">Binary</div>
        <div class="multi-grid-cell-new grid-cell">Multi</div>
        <div class="precision-grid-cell-new grid-cell">Precision</div>
        <div class="recall-grid-cell-new grid-cell">Recall</div>
        <div class="accuracy-grid-cell-new grid-cell">Accuracy</div>
        <div class="mrate-grid-cell-new grid-cell">Miss rate</div>
        <div class="forate-grid-cell-new grid-cell">Fall-out rate</div>
        <div class="cell1-grid-cell-new grid-cell">cell1</div>
        <div class="cell2-grid-cell-new grid-cell">cell2</div>
        <div class="cell3-grid-cell-new grid-cell">cell3</div>
        <div class="cell4-grid-cell-new grid-cell">cell4</div>
        <div class="cell5-grid-cell-new grid-cell">cell5</div>
        <div class="cell6-grid-cell-new grid-cell">cell6</div>
        <div class="cell7-grid-cell-new grid-cell">cell7</div>
        <div class="cell8-grid-cell-new grid-cell">cell8</div>
        <div class="cell9-grid-cell-new grid-cell">cell9</div>
        <div class="cell10-grid-cell-new grid-cell">cell10</div>
    </div>
</div>

<div class='grathContainer' id='grathContainer'></div>

<svg width="960" height="500"></svg>

