<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../../Scripts/main.js"></script>
<link rel="stylesheet" type="text/css" href="../../Styles/main.css">
<div class='toolbar js-toolbar'>
    <button class="button" onclick="trainFirst()">Train by first algorithm</button>
    <button class="button" onclick="trainSecond()">Train by second algorithm</button>
    <button class="button" onclick="trainThird()">Train by third algorithm</button>
    <button class="button" onclick="createGraph()">createGraph</button>
</div>
<div class='main-body js-main-body' id='cardContainer'>
    <form class='card-container js-card' id='prototypeCard'  style="display: none;">
        <div class="card-header">Some training data</div>
        <div class='card-body-container'>
            <div class="card-input_title">Ошибки первого рода:</div>
            <input class="card-input" type="text" name="fce" readonly><br>
            <div class="card-input_title">Ошибки второго рода:</div>
            <input class="card-input" type="text" name="sce" readonly><br>
            <div class="card-input_title">Скорость обучения:</div>
            <input class="card-input" type="text" name="speed" readonly><br>
            <div class="card-input_title">Скорость предсказания:</div>
            <input class="card-input" type="text" name="accuracy" readonly><br>
        </div>
    </form>
</div>
<svg width="960" height="500"></svg>

