<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../../Scripts/main.js"></script>
<link rel="stylesheet" type="text/css" href="../../Styles/main.css">
<div class='toolbar js-toolbar'>
    <button class="button">do-foo1</button>
    <button class="button">do-foo2</button>
    <button class="button">do-foo3</button>
</div>
<div class='main-body js-main-body'></div>